@use "valaxy/client/styles/mixins/index.scss" as *;

/* -------------------------------------
* Markdown components styles reset
* ------------------------------------- */
a {
  text-decoration: none !important;
}

.site-nav {
  ul {
    padding-left: 0;
  }
}

.sakura-sidebar ul {
  list-style-type: none;
}

.sakura-navbar ul {
  list-style-type: none;
}

.markdown-body {
  padding: 0 40px;
}

.sakura-main {
  min-height: calc(100vh - var(--st-c-footer-height) - var(--st-c-navbar-height));
}

.prose img {
  margin: 0;
}

.active-header {
  box-shadow: none;
  background-color: transparent;
}

.sakura-sidebar-item-link {
  color: var(--st-c-text);
  transition: all 0.5s;

  border-left: 1px solid var(--st-c-surface-border);

  &.router-link-exact-active {
    color: var(--st-c-text);

    border-left-width: 1px;
    border-color: var(--fgColor-accent, var(--st-c-secondary));
    // &::after {
    //   position: absolute;
    //   width: 4px;
    //   height: 24px;
    //   content: "";
    //   background-color: var(--fgColor-accent, var(--st-c-secondary));
    //   border-radius: 6px;
    // }
  }
}

.moe-mashiro {
  @include mobile {
    & {
      display: none;
    }
  }
}
