/* -------------------------------------
* Markdown components styles reset
* ------------------------------------- */
a {
  text-decoration: none !important;
}

.site-nav {
  ul {
    padding-left: 0;
  }
}

.sakura-sidebar ul {
  list-style-type: none;
}

.sakura-navbar ul {
  list-style-type: none;
}

.markdown-body {
  padding: 0 40px;
}

.sakura-main {
  min-height: calc(100vh - var(--st-c-footer-height));
}
