.app-container {
  margin-top: calc(-1 * var(--st-c-navbar-height));
}

/* -------------------------------------
* sidebar
* ------------------------------------- */
.sidebar-theme-overview {
  gap: 0.25rem;
  margin: 0 1rem;

  a {
    // background-color: #28282c; dark
    border-radius: 0.375rem;
    padding: 5px 0;

    &.router-link-exact-active {
      background-color: #eeedef;
      // background-color: var(--st-c-sidebar-bg-color);
    }
  }
}

.sidebar.grid-layout-triple-columns {
  padding: 0 !important;
  transition: grid-template-columns 0.5s;

  &.container {
    max-width: none !important;
  }

  & > aside:first-child {
    background: #f9f8f9;
    border-right: 1px solid #f4f2f4;
  }
}
