@use './vars' as *;
@use 'valaxy/client/styles/mixins/index.scss' as * with (
  $namespace: 'sakura'
);

:root {
  --un-prose-links: var(--sakura-c-link);
  --un-prose-body: var(--sakura-c-text);

  // z-index
  --va-z-overlay: var(--sakura-z-backdrop);

  @include set-css-var-from-map($light);
  @include set-css-var-from-map($common);
  @include set-css-var-from-map($z-index, 'z');

  --va-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif,
    system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', helvetica, arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html.dark {
  @include set-css-var-from-map($dark);
}
