@use './vars' as *;
@use 'valaxy/client/styles/mixins/index.scss' as * with (
  $namespace: 'sakura'
);

:root {
  --un-prose-links: var(--sakura-link-color);
  --un-prose-body: var(--sakura-text-color);

  // z-index
  --va-z-overlay: var(--sakura-backdrop-z, 2);

  @include set-css-var-from-map($light);
  @include set-css-var-from-map($common);

  --va-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif,
    system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', helvetica, arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html.dark {
  @include set-css-var-from-map($dark);
}
