@import 'https://cdn.jsdelivr.net/gh/moezx/cdn@3.7.6/fonts/Moe-Mashiro/stylesheet.css';
@import 'https://fonts.cdnfonts.com/css/ubuntu';
@import 'https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap';
