.link {
  color: var(--st-c-brand);
}

html {
  color: var(--st-c-text);
}

a {
  color: var(--st-c-link);
}

.st-text {
  color: var(--st-c-text);
}

.main-content-transition {
  transition: padding-left var(--va-transition-duration);
}
