@use 'sass:map';

$common: (
  // --------------- Root ---------------
  'primary-color': var(--va-c-primary),
  'primary-text-color': var(--sakura-primary-color),
  'secondary-color': var(--va-c-primary-lighter),
  'secondary-text-color': var(--sakura-secondary-color),
  // --------------- Navbar ---------------
  'navbar-height': 55px,
  'navbar-mt': 20px,
  'navbar-spacing': calc(var(--sakura-navbar-height) + 20px),
  // --------------- Footer ---------------
  'footer-height': 140px,
  // --------------- Aside ---------------
  'aside-width': var(--va-sidebar-width),
  // --------------- Sidebar ---------------
  'sidebar-width': var(--va-sidebar-width),
  'sidebar-marker-height': 2px,
  'sidebar-bg-color': var(--sakura-bg-color),
  'sidebar-offset': var(--sakura-sidebar-width),
  // --------------- Other ---------------
  'bg-color': var(--va-c-bg),
  'bg-mute-color': var(--va-bg-mute-color),
  'accent-color': var(--sakura-secondary-color),
  'code-text-color': var(--sakura-primary-color),
  'rd': 10px,
  // border-radius or rounded corners
  'comment-bg-url': url('../assets/comment-bg.png'),
  // 'sakura-article-card'
) !default;
$common: map.merge((), $common);

$light: (
  // --------------- Navbar ---------------
  'nav-bg-color': #fff,
  // --------------- Text ---------------
  'text-color': #504e4e,
  'text-muted-color': hsl(0deg, 0%, 45.1%),
  'text-deep-color': #504e4e,
  'text-deeper-color': #303030,
  'border-color': #d0d7de,
  'border-surface-color': #e2e8f0,
  'border-hover-color': #f1c484,
  'icon-color': #fff,
  // --------------- SakuraTimeLine ---------------
  'timeline-color': #49b1f5,
  'timeline-text-color': #0bf,
  'timeline-height': 30px,
  // --------------- ArticleThemeCard ---------------
  'article-card-bg-color': var(--sakura-bg-color),
  'article-card-rd': var(--sakura-rd),
  'article-card-font-size': 1.17em,
  'article-card-font-secondary-size': 12px,
  // --------------- ArticleNavigation ---------------
  'article-navigation-text-color': #f0f8ff,
  // --------------- SakuraNavbar ---------------
  'navbar-text-color': var(--sakura-text-color),
  'navbar-text-hover-color': #fff,
  'navbar-bg-hover-color': var(--sakura-primary-color)
) !default;
$light: map.merge((), $light);

$dark: (
  // --------------- Navbar ---------------
  'nav-bg-color': var(--va-c-bg-alt),
  // --------------- Text ---------------
  'text-color': #f0f8ff,
  'text-muted-color': hsl(0deg, 0%, 63.9%),
  'text-deep-color': var(--sakura-text-color),
  'text-deeper-color': var(--sakura-text-color),
  'border-color': #d0d7de,
  'border-hover-color': #f1c484,
  'icon-color': #fff,
  // --------------- SakuraTimeLine ---------------
  'timeline-color': #49b1f5,
  'timeline-text-color': #0bf,
  'timeline-height': 30px,
  // --------------- ArticleThemeCard ---------------
  'article-card-bg-color': var(--sakura-bg-color),
  'article-card-rd': var(--sakura-rd),
  'article-card-font-size': 1.17em,
  'article-card-font-secondary-size': 12px,
  // --------------- ArticleNavigation ---------------
  'article-navigation-text-color': #f0f8ff,
  // --------------- SakuraNavbar ---------------
  'navbar-text-color': var(--sakura-text-color),
  'navbar-text-hover-color': var(--va-c-bg-alt),
  'navbar-bg-hover-color': var(--sakura-primary-color)
) !default;
$dark: map.merge((), $dark);
