@use 'sass:map';

$common: (
  // --------------- Primary ---------------
  'primary-color': var(--va-c-primary),
  'primary-text-color': var(--sakura-primary-color),
  // --------------- Navbar ---------------
  'navbar-height': 75px,
  'navbar-text-color': var(--sakura-text-deep-color),
  'navbar-marker-height': 2px,
  'navbar-marker-color': var(--sakura-primary-color),
  'navbar-mt': 20px,
  'navbar-spacing': calc(var(--sakura-navbar-height) + 20px),
  'navbar-shadow': 0 1px 40px -8px rgba(0, 0, 0, 0.5),
  // --------------- Footer ---------------
  'footer-height': 140px,
  // --------------- PostCard ---------------
  'post-card-height': 300px,
  'post-card-bg-color': var(--sakura-bg-color),
  'post-card-img-width': 55%,
  'post-card-rd': var(--sakura-border-radius),
  'post-card-font-size': 1.17em,
  'post-card-content-px': 39px,
  'post-card-content-py': 20px,
  // --------------- PostNavigation ---------------
  'post-nav-height': 150px,
  // --------------- Aside ---------------
  'aside-width': var(--va-sidebar-width),
  // --------------- Sidebar ---------------
  'sidebar-width': var(--va-sidebar-width),
  'sidebar-marker-height': 2px,
  'sidebar-bg-color': var(--sakura-bg-color),
  'sidebar-offset': var(--sakura-sidebar-width),
  // --------------- Glitch Text ---------------
  'glitch-before-text-color': #ff3f1a,
  'glitch-after-text-color': #00a7e0,
  // --------------- Other ---------------
  'bg-color': var(--va-c-bg),
  'bg-mute-color': var(--va-bg-mute-color),
  'accent-color': var(--sakura-primary-color),
  'code-text-color': var(--sakura-primary-color),
  'link-color': var(--sakura-primary-color),
  'border-radius': 10px,
  'border-radius-large': 15px,
  'border-radius-small': 5px,
  // border-radius or rounded corners
  'comment-bg-url': url('../assets/comment-bg.png') // 'sakura-post-card'
) !default;
$common: map.merge((), $common);

$light: (
  // --------------- Navbar ---------------
  'navbar-bg-color': #fff,
  // --------------- Text ---------------
  'text-color': #797979,
  'text-muted-color': hsl(0deg, 0%, 45.1%),
  'text-deep-color': #404040,
  'text-deeper-color': #303030,
  'border-color': rgb(238, 238, 238),
  'border-hover-color': #f1c484,
  'icon-color': #fff,
  // --------------- SakuraTimeLine ---------------
  'timeline-color': var(--sakura-primary-color),
  'timeline-text-color': var(--sakura-primary-color),
  'timeline-height': 30px,
  // --------------- PostNavigation ---------------
  'post-nav-title-color': #f0f8ff,
  'post-nav-label-color': rgba(255, 255, 255, 0.7),
  // --------------- SakuraNavbar ---------------
  'navbar-text-hover-color': #fff,
  'navbar-bg-hover-color': var(--sakura-primary-color)
) !default;
$light: map.merge((), $light);

$dark: (
  // --------------- Navbar ---------------
  'navbar-bg-color': var(--va-c-bg-alt),
  // --------------- Text ---------------
  'text-color': #f0f8ff,
  'text-muted-color': hsl(0deg, 0%, 63.9%),
  'text-deep-color': var(--sakura-text-color),
  'text-deeper-color': var(--sakura-text-color),
  'border-color': rgb(17, 17, 17),
  'border-hover-color': #f1c484,
  'icon-color': #fff,
  // --------------- SakuraTimeLine ---------------
  'timeline-color': var(--sakura-primary-color),
  'timeline-text-color': var(--sakura-primary-color),
  'timeline-height': 30px,
  // --------------- PostNavigation ---------------
  'post-nav-title-color': #f0f8ff,
  'post-nav-label-color': rgba(255, 255, 255, 0.7),
  // --------------- SakuraNavbar ---------------
  'navbar-text-hover-color': var(--va-c-bg-alt),
  'navbar-bg-hover-color': var(--sakura-primary-color)
) !default;
$dark: map.merge((), $dark);
