@include keyframes(#{$nameSpace}-blink) {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@mixin blink {
  @include prefixed(animation-name, #{$nameSpace}-blink);

  animation-duration: 1s;
  animation-iteration-count: infinite;
}
