@include keyframes(#{$nameSpace}-float) {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

@mixin float {
  @include prefixed(animation-name, #{$nameSpace}-float);

  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
