@mixin background-style($image) {
  background-color: var(--sakura-color-background);
  background-image: $image;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.sakura-main {
  @include background-style(var(--sakura-custom-bg));
}

body {
  @include background-style(var(--sakura-c-body-bg-img));
}
