.sakura-icon-btn {
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 2rem;
  height: 2rem;
  transition: color var(--va-transition-duration);

  div {
    font-size: 1.2rem;
  }

  &:hover,
  &:active {
    color: var(--sakura-primary-color);
  }
}
