.site-info {
  &.fix-top {
    margin-top: -1.5rem;
  }
}

.site-author-avatar {
  display: inline-block;
  line-height: 0;
  position: relative;

  img {
    height: 96px;
    width: 96px;
    max-width: 100%;
    margin: 0;
    padding: 4px;
    background-color: white;
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
    transition: var(--va-transition-duration);

    &:hover {
      box-shadow: 0 0 30px var(--sakura-color-primary);
    }
  }
}

.site-author-status {
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  bottom: 0;
  right: 0;
  line-height: 1.8rem;
  border-radius: 50%;
  box-shadow: 0 1px 2px oklch(0% 0 0 / 20%);
  background-color: var(--va-c-bg-light);
  border: 1px solid oklch(100% 0 0 / 10%);
}

.site-name {
  color: var(--va-c-text);
  font-family: get-css-var('font-serif');
  font-weight: 900;
}

.site-subtitle {
  color: get-css-var('color-primary');
  display: block;
}

.site-description {
  color: var(--va-c-text);
  font-size: 0.8rem;
}
