.sakura-gradient-text {
  background: linear-gradient(
    to right,
    var(--sakura-color-primary),
    60%,
    var(--sakura-color-primary)
  );
  background-clip: text;
  color: transparent;
}

.sakura-braced-text {
  &::before {
    content: '{';
    color: var(--sakura-color-primary);
    margin-right: 6px;
    font-family: Helvetica, sans-serif;
  }

  &::after {
    content: '}';
    color: var(--sakura-color-primary);
    margin-left: 6px;
    font-family: Helvetica, sans-serif;
  }
}
