@use 'valaxy-theme-sakura/styles/animation/slide/slide.scss' as *;

.link {
  color: var(--sakura-color-primary);
}

html {
  color: var(--sakura-color-text);
}

body {
  font-family: var(--sakura-font-family);
  text-shadow: 0 0 1px oklch(0% 0 0 / 10%);
}

body::-webkit-scrollbar-thumb {
  background: var(--sakura-color-primary);
}

a {
  color: var(--sakura-color-primary);
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--sakura-color-action);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sakura-post-header {
    @include slide-down;
    /* stylelint-disable-next-line scss/double-slash-comment-empty-line-before */
    // @extend .animation-slide-down;
  }
}

.site-content {
  padding-inline: 20px;
}
