.link {
  color: var(--sakura-primary-color);
}

html {
  color: var(--sakura-text-color);
}

a {
  color: var(--sakura-link-color);
}

.st-text {
  color: var(--sakura-text-color);
}

// .app-container {
//   min-height: 100vh;
// }
