/* ======= NavBar ======= */
.sakura-navbar {
  &.active-header {
    backdrop-filter: saturate(180%) blur(3.2px);
    padding-left: max(0.75rem, env(safe-area-inset-left));
    padding-right: max(0.75rem, env(safe-area-inset-right));
  }
}

/* ======= Page Section ======= */
.sakura-page-header {
  .entry-title {
    &::before {
      content: ' {';
      color: var(--sakura-c-secondary);
      font-size: 1.2em;
      margin-right: 6px;
      font-family: Helvetica, sans-serif;
    }

    &::after {
      content: '}';
      color: var(--sakura-c-secondary);
      font-size: 1.2em;
      margin-left: 6px;
      font-family: Helvetica, sans-serif;
    }
  }
}

.wl-comment {
  .wl-panel textarea {
    background-image: var(
      --sakura-c-waline-bg-img,
      var(--sakura-c-comment-bg)
    ) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    resize: vertical;
  }
}

/* ======= Sidebar ======= */
.sakura-sidebar {
  #marker {
    width: 2px;
    height: 80px;
    border-radius: var(--sakura-c-rd);
    background-color: var(--sakura-c-secondary);
  }
}

.sidebar-theme-overview {
  .sakura-sidebar-menu {
    margin: 0 auto;
    font-family: 'HarmonyOS Sans SC', 'Merriweather Sans', Helvetica, Tahoma,
      Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei',
      'WenQuanYi Micro Hei', sans-serif;

    a {
      transition:
        color 0.3s ease,
        transform 0.3s ease;
    }

    a:hover {
      color: var(--sakura-c-secondary);
    }
  }

  .sakura-sub-menu {
    a {
      font-size: 13px;
      color: #9cacc5;
    }

    li {
      margin-left: 23px;
    }
  }
}
