@include keyframes(#{$nameSpace}-slide-out-top) {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@mixin slide-out-top {
  @include prefixed(animation-name, #{$nameSpace}-slide-out-top);

  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
