@include keyframes(#{$nameSpace}-slide-right) {
  from {
    transform: translateX(-30px);
  }

  to {
    transform: translateX(0);
  }
}

@mixin slide-right {
  @include prefixed(animation-name, #{$nameSpace}-slide-right);
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
