@include keyframes(#{$nameSpace}-slide-left) {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(0);
  }
}

@mixin slide-left {
  @include prefixed(animation-name, #{$nameSpace}-slide-left);
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
