@include keyframes(#{$nameSpace}-slide-up) {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

@mixin slide-up {
  @include prefixed(animation-name, #{$nameSpace}-slide-up);

  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
