.sakura-navbar {
  &.col {
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: var(--st-c-navbar-height);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    .sakura-nav-lick {
      width: 100%;
      flex-direction: column;
      justify-content: center;

      ul {
        display: flex;
        justify-content: center;
        margin: 7px 0;

        span {
          display: flex;
        }

        .sakura-navbar-link-item {
          width: 100%;
          justify-content: center;

          &:hover {
            &::after {
              height: 100%;
            }
          }

          &::after {
            height: 0;
            width: var(--st-c-sidebar-marker-h);
          }
        }
      }
    }

    .router-link-active {
      &::after {
        width: 100%;
      }
    }

    #marker {
      width: var(--st-c-sidebar-marker-h);
      border-left: var(--st-c-sidebar-marker-h) solid var(--st-c-secondary);
    }

    .moe-mashiro {
      writing-mode: vertical-rl;
    }
  }
}
