.sakura-sidebar-item {
  line-height: 0;
  padding-left: 0.3rem;

  span {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
}

.sakura-sidebar-item-link {
  color: var(--sakura-text-color);
}

.sakura-sidebar-item-link.router-link-exact-active {
  color: var(--sakura-primary-color);
}
