.sakura-sidebar-item {
  line-height: 0;
  padding-left: 0.3rem;

  span {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
}

.sakura-sidebar-item-link {
  color: var(--st-c-text);
}

.sakura-sidebar-item-link.router-link-exact-active {
  color: var(--st-c-brand);
}

// translation navbar
.sakura-app-navbar, .app-container {
  transform: translateX(var(--_sakura-sidebar-offset));
  transition: transform var(--va-transition-duration) cubic-bezier(0.19, 1, 0.22, 1) !important;
}
