.dark .vp-code span {
  color: var(--shiki-dark, inherit);
}

html:not(.dark) .vp-code span {
  color: var(--shiki-light, inherit);
}

@media screen and (max-width: 640px) {
  .markdown-body div[class*='language-'] {
    margin: 0 var(--va-code-mobile-margin-x, 0);
  }
}

pre {
  overflow-y: hidden;
}
