.sakura-navbar {
  &.active-header {
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
  }
}

.sakura-page-header {
  .entry-title {
    &::before {
      content: ' {';
      color: var(--st-c-secondary);
      font-size: 1.2em;
      margin-right: 6px;
      font-family: Helvetica, sans-serif;
    }

    &::after {
      content: '}';
      color: var(--st-c-secondary);
      font-size: 1.2em;
      margin-left: 6px;
      font-family: Helvetica, sans-serif;
    }
  }
}

.wl-comment {
  .wl-panel textarea {
    background-image: var(
      --st-c-waline-bg-img,
      var(--st-c-comment-bg)
    ) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    resize: vertical;
  }
}

/* -------------------------------------
* Sidebar
* ------------------------------------- */
.sakura-sidebar {
  #marker {
    width: 90%;
    height: 80px;
    border-radius: var(--st-c-rd);
    background-color: var(--st-c-secondary);
    left: 50%;
    transform: translateX(-50%);
  }
}

.sidebar-theme-overview {
  .site-link-item {
    // background: #000;
    margin: 0 15px;
    padding: 8px 10px;
    z-index: 10;
  }

  // .router-link-active {
  //   background-color: #efefef;
  // }
}
