:root {
  --st-c-brand: #ff4e6a;
  --st-c-secondary: #fe9600;
  --st-c-sidebar-marker-h: 4px;
  --st-c-navbar-height: 3.75rem;
  --st-c-text: #797979;
  --st-c-text-muted: #737373;
  --st-c-text-code: #e67474;
  --st-c-bg-mute: rgb(254, 250, 199);
  --st-c-link: #e67474;
}
