@use 'valaxy/client/styles/mixins/index.scss' as * with (
  $namespace: 'sakura'
);

$common: (
  c-brand: #ff5c5c,
  c-secondary: #ff6f91,
  c-sidebar-width: 240px,
  c-sidebar-marker-h: 4px,
  c-navbar-height: 3.75rem,
  c-text: #797979,
  c-text-muted: #737373,
  c-text-code: var(--sakura-c-brand),
  c-bg-mute: rgb(254, 250, 199),
  c-link: var(--sakura-c-brand),
  c-navbar-text: #504e4e,
) !default;

$light: (
  c-bg-nav: hsla(0deg, 0%, 100%, 0.7),
) !default;

$dark: (
  c-bg-nav: hsla(240deg, 2.33%, 8.43%, 0.72),
) !default;

:root {
  @include set-css-var-from-map($light);
  @include set-css-var-from-map($common);
}

html.dark {
  @include set-css-var-from-map($dark);
}
