@include keyframes(#{$nameSpace}-fade-up) {
  from {
    transform: translateY(100%);
    // transform: translateY(2rem)
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin fade-up {
  @include prefixed(animation-name, #{$nameSpace}-fade-up);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, forwards;
}
