@include keyframes(#{$nameSpace}-fade-out-left) {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(30px);
    opacity: 0;
  }
}

@mixin fade-out-left {
  @include prefixed(animation-name, #{$nameSpace}-fade-out-left);
  animation-duration: 0.5s, 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in, ease-in-out;
}
