@include keyframes(#{$nameSpace}-fade-in-down) {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin fade-in-down {
  @include prefixed(animation-name, #{$nameSpace}-fade-in-down);

  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out, ease-in-out;
}
