@include keyframes(#{$nameSpace}-fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fade-in {
  @include prefixed(animation-name, #{$nameSpace}-fade-in);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
