@use 'valaxy/client/styles/mixins/index.scss' as *;

/* ======= NavBar ======= */
.sakura-navbar {
  &.active-header {
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);

    // backdrop-filter: saturate(180%) blur(3.2px);
    // padding-left: max(0.75rem, env(safe-area-inset-left));
    // padding-right: max(0.75rem, env(safe-area-inset-right));
  }
}

.sakura-logo-link {
  font-family: Moe-Mashiro, sans-serif;
}

.info-overlay-theme-sakura {
  .card-wrapper {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  .card-wrapper::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 20%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.5);
  }
}

/* ======= Home ======= */

.sakura-home-layout {
  @include screen('md') {
    padding: 0 40px;
  }

  @include screen('lg') {
    padding: 0 110px;
  }

  @include screen('xl') {
    padding: 0;
  }

  &.grid-layout-triple-columns {
    @include screen('md') {
      grid-template-columns: 0 1fr 0;
    }

    @include screen('lg') {
      grid-template-columns: 1fr 800px 1fr !important;
    }

    @include screen('xl') {
      grid-template-columns: 1fr 800px 1fr !important;
    }
  }
}

/* ======= Article ======= */

.sakura-article-pinned-card {
  height: 160px;

  .sakura-image-card {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.sakura-article-card {
  box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.5) !important;
}
